{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
    <div class="container">
      <button class="btn btn-primary" id="addHotelLink">Add Hotel
        Details</button>
      <button class="btn btn-primary" id="addRoomLink">Add Room Details</button>
    </div>
  </div>
  <form action method="post" class="col-6 mx-auto card p-3 shadow-lg" enctype="multipart/form-data" id="addHotelForm">
    {% csrf_token %}
    <center>
      <h2>Add Hotel Details</h2>
    </center>
    <hr />
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="mb-3">
      <label for="hotelId" class="form-label">Hotel ID</label>
      <input type="text" class="form-control" placeholder="Enter Hotel ID" name="hotelId" />
    </div>
    <div class="mb-3">
      <label for="hotelName" class="form-label">Hotel Name</label>
      <input type="text" class="form-control" placeholder="Enter Hotel Name" name="hotelName" />
    </div>
    <div class="mb-3">
      <label for="hotelLocation" class="form-label">Hotel Location</label>
      <input type="text" class="form-control" placeholder="Enter Hotel Location" name="hotelLocation" />
    </div>
    <div class="mb-3">
      <label for="startingPrice" class="form-label">Starting Price</label>
      <input type="number" class="form-control" placeholder="Enter Starting Price" name="startingPrice" />
    </div>
    <div class="mb-3">
      <label for="ratings" class="form-label">Ratings</label>
      <input type="number" class="form-control" placeholder="Enter Ratings" name="ratings" />
    </div>
    <div class="mb-3">
      <label for="hotelImage" class="form-label">Hotel Image</label>
      <input type="file" class="form-control" name="hotelImage" />
    </div>
    <button type="submit" class="btn btn-primary" id="button1" name="submitBtn" value="hotelDetails">Submit</button>
  </form>

  <form  method="post" class="col-6 mx-auto card p-3 shadow-lg" enctype="multipart/form-data" id="addRoomForm"
    style="display: none;">
    {% csrf_token %}
    <center>
      <h2>Add Room Details</h2>
    </center>
    <hr />
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="mb-3">
      <label for="roomId" class="form-label">Room ID</label>
      <input type="text" class="form-control" placeholder="Enter Room ID" name="roomId" />
    </div>
    <div class="mb-3">
      <label for="roomType" class="form-label">Room Type</label>
      <input type="text" class="form-control" placeholder="Enter Room Type" name="roomType" />
    </div>
    <div class="mb-3">
      <label for="roomCapacity" class="form-label">Room Capacity</label>
      <input type="text" class="form-control" placeholder="Enter Room Capacity" name="roomCapacity" />
    </div>
    <div class="mb-3">
      <label for="roomPrice" class="form-label">Room Price</label>
      <input type="number" class="form-control" placeholder="Enter Room Price" name="roomPrice" />
    </div>
    <div class="mb-3">
      <label for="hotelId" class="form-label">Hotel ID</label>
      <select class="form-select" id="subjectName" name="hotelId">
        {% for x in hotelData %}
        <option value="{{x.hotel_id}}">{{x.hotel_id}} | {{x.hotel_name}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary" id="button2" name="submitBtn" value="roomDetails">Submit</button>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const addHotelLink = document.getElementById('addHotelLink');
      const addRoomLink = document.getElementById('addRoomLink');
      const addHotelForm = document.getElementById('addHotelForm');
      const addRoomForm = document.getElementById('addRoomForm');
      const button1 = document.getElementById('button1')
      const button2 = document.getElementById('button2')

      addHotelLink.addEventListener('click', function () {
        addHotelForm.style.display = 'block';
        addRoomForm.style.display = 'none';
        button1.style.width = '100%'
      });

      addRoomLink.addEventListener('click', function () {
        addRoomForm.style.display = 'block';
        addHotelForm.style.display = 'none';
        button2.style.width = '100%'
      });
    });
  </script>

</div>
{% endblock %}