{% extends "base.html" %}
{% block content %}
<style>
    .success-card {
        padding: 20px;
        background-color: #121212;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: white;
        margin-top: 175px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
    }

    .success-animation {
        margin-top: 30px;
    }


    @media (max-width: 576px) {
        .success-card {
            padding: 20px;
            background-color: #121212;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: 175px !important;
        }
    }




    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes scale {
        0%, 100% {
            transform: none;
        }

        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #4bb71b;
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
    .submit{
        width: 60%; /* Take full width */
        margin-top:10px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="success-card">
                <div class="success-animation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#f00" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 17.5c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm0-5.5c-.69 0-1.25-.56-1.25-1.25V7.75c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25v5.25c0 .69-.56 1.25-1.25 1.25z"/>
                    </svg>
                    <h3 style="margin-top: 30px;">You are already registered as a member!</h3>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary submit" id="submitBtn"><a href="{% url 'home:home' %}">Home</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
