{% extends 'base.html' %}
{% block content %}

<style>
  @media (min-width:360px) and (max-width:740px) {
    h1 {
      color: #AFEeee;
      margin-bottom: 20px;
      text-transform: uppercase;
      margin-right: 10px !important;
    }

    .mainicon {
      margin-right: 13px !important;
    }
  }

  body {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /* Set overflow-y to auto */
    overflow-x: scroll;
  }

  .container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    /* Add padding to prevent content from sticking to the edges */
  }

  .pic {
    width: 70%;
    height: 100%;
    overflow: hidden;
    background-image: url('/media/uploads/images/maldives-3220702.jpg');
    background-size: cover;
    background-position: center;
  }

  .input-field {
    position: relative;
    margin-bottom: 20px;
    background-color: #121212;
  }

  .input-field ::placeholder {
    color: white;
  }

  .input-field input {
    width: calc(100% - 30px);
    height: 50px;
    background-color: #121212;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    color: #AFEeee;
    padding-left: 30px;
    font-size: 15px;
  }


  .input-field input:focus {
    background-color: #121212 !important;
    color: #AFEeee;
  }

  button {
    width: 350px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: #2020db;
    border: 2px solid #1f1fff;
    border-radius: 50px;
    outline: none;
    transition: .4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 20px;
  }

  button:hover {
    background-color: #1717c2;
    border: 2px solid #1717c2;
  }

  h1 {
    color: #AFEeee;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-right: 40px;
  }

  .mainicon {
    margin-right: 40px;
  }

  a {
    color: #AFEeee;
    text-decoration: none;
    font-size: 15px;
  }

  i {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
  }

  .fa-lock {
    position: absolute;
    left: 8px;
    top: 49%;
    transform: translateY(-50%);
    font-size: 18px;
  }

  img {
    width: 70px;
    border-radius: 10px;
    border: 1px solid #494954;
  }

  @media screen and (max-width: 768px) {
    form {
      margin-left: 35px;
    }
  }

  @media only screen and (max-width: 750px) {
    .pic {
      display: none;
    }

    .container {
      width: 100%;
    }
  }

  @media only screen and (max-height: 450px) {
    .pic {
      display: none;
    }

    .container {
      width: 100%;
    }

    body {
      padding-bottom: 10px;
      overflow-y: scroll;
    }
  }
</style>
<div class="pic"></div>
<div class="container">
  <div class="pic2"></div>
  <img class="mainicon" src="/media/uploads/images/tourism_2560196.png"
    style="width: 130px; height: 115px; border-radius: 10px; border: 0px solid #555; box-shadow: 2px 2px 5px #888;" alt>
  <h1>Login</h1>
  <form action="" method="post">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% csrf_token %}

    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username">
    </div>

    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit">Login</button>
  </form>
  <div style="display: flex;  margin-top: 10px;"><a href="/verifyUser/">Forgot Password? - Support</a></div>
  <a onclick="myFunction()" href="/register_user/">Don't have an account? Sign up</a>
</div>
{% endblock %}