{% extends "base.html" %}

{% block content%}

<div class="container  mt-4">
    <form class="col-7 mx-auto card p-3 shadow-lg" method="post"
        action="{% url 'adminPanel:updateFlightDetails' flightData.flight_id %}">
        {% csrf_token %}
        <center>
            <h2>Update Flight Details</h2>
        </center>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Flight
                ID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="flightId"
                value="{{flightData.flight_id}}" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Airline
                Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="airlineName"
                value="{{flightData.airline_name}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Departure City</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="deptCity"
                value="{{flightData.departure_city}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Arrival City</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="arrivalCity"
                value="{{flightData.arrival_city}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Flight Class</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="flightClass"
                value="{{flightData.flight_class}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Price</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="price"
                value="{{flightData.price}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Departure DateTime</label>
            <input type="datetime-local" class="form-control" id="exampleInputPassword1" name="deptDateTime"
                value="{{flightData.departure_dateTime|date:'Y-m-d\TH:i'}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Arrival DateTime</label>
            <input type="datetime-local" class="form-control" id="exampleInputPassword1" name="arrivalDateTime"
                value="{{flightData.departure_dateTime|date:'Y-m-d\TH:i'}}">
        </div>
        <button type="submit" class="btn btn-primary">Update Details</button>
    </form>

</div>
{% endblock %}