{% extends "base2.html" %}
{% block content %}
<style>
    @media (min-width:820px) and (max-width:1180px) {
        footer {
            margin-top: 400px !important;
        }
    }

    @media (min-width:1024px) and (max-width:1366px) {
        footer {
            margin-top: 600px !important;
        }
    }

    @media screen and (max-width: 768px) {
        .profile-button {
            margin-left: -30px;
        }

        .input-field input {
            width: calc(100% - 30px) !important;
        }
    }

    h4 {
        text-align: center !important;
        margin-bottom: 30px;
    }

    .input-field {
        position: relative;
        margin-bottom: 20px;
    }

    .input-field input {
        width: calc(100% - 30px);
        height: 50px;
        background-color: #121212;
        border: 2px solid #ccc;
        border-radius: 10px;
        outline: none;
        transition: .4s;
        color: #AFEeee;
        padding-left: 30px;
        font-size: 15px;
    }

    .input-field input::placeholder {
        color: #AFEeee;
    }

    .input-field input:focus {
        background-color: #121212 !important;
        color: #AFEeee;
    }

    .container {
        padding: 20px;
        width: 80%;
        background-color: #121212;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);
    }

    .profile-button {
        background-color: #2020db;
        border: 2px solid #1f1fff;
        outline: none;
        transition: .4s;
        color: #fff;
    }


    .profile-button:hover {
        background-color: #1717c2;
        border: 2px solid #1717c2;
    }

    .rounded-circle {
        border: 4px solid #0275d8;
    }
</style>

<div class="container rounded mt-5 mb-5">
    <div class="row">
        <div class="col-md-5">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold" style="color: #AFEeee;">{{username}}</span>
                <span style="color: #AFEeee;">{{email}}</span>
            </div>
        </div>
        <div class="col-md-7">
            <div class="p-3 py-5">
                <div>
                    <h4 style="color:#AFEeee; text-transform:uppercase; text-align:center;">Update Profile</h4>
                </div>
                <form action="{% url 'home:updateProfile' %}" method="post" style="margin-left: 30px;">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6 input-field">
                            <i class="fas fa-user"
                                style="position:absolute; top:35%;  margin-left:5px; color:white;"></i>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
                        </div>
                        <div class="col-md-6 input-field">
                            <i class="fas fa-user"
                                style="position:absolute; top:35%;  margin-left:5px; color:white;"></i>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 input-field">
                            <i class="fas fa-envelope"
                                style="position: absolute; top:38%; margin-left:5px; color:white;"></i>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="col-md-6 mt-3 input-field">
                            <i class="fas fa-user"
                                style="position:absolute; top:32%;  margin-left:5px; color:white;"></i>
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Username">
                        </div>
                        <div class="col-md-6 mt-3 input-field">
                            <i class="fas fa-lock"
                                style="position:absolute; top:32%;  margin-left:5px; color:white;"></i>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit" id="submitBtn"> <i
                                    class="fas fa-save"></i> Save
                                Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    saveBtn = document.getElementById('submitBtn');

    saveBtn.addEventListener('click', (event) => {
        event.preventDefault();

        Swal.fire({
            title: "Do you want to save the changes?",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "Save",
            denyButtonText: `Don't save`
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire("Saved!", "", "success").then(() => {
                    setTimeout(() => {
                        saveBtn.closest('form').submit();
                    }, 500);
                });
            } else if (result.isDenied) {
                Swal.fire("Changes are not saved", "", "info");
            }
        });
    });
</script>
{% endblock %}