{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <table class="table table-striped table-hover table-bordered caption-top shadow-lg">
        <thead>
            <tr>
                <th scope="col">Resort ID</th>
                <th scope="col">Resort Name</th>
                <th scope="col">Resort Location</th>
                <th scope="col">Starting Price</th>
                <th scope="col">Ratings</th>
            </tr>
        </thead>
        <tbody>
            {% for x in resortData %}
            <tr>
                <td>{{ x.resort_id }}</td>
                <td>{{ x.resort_name }}</td>
                <td>{{ x.resort_location }}</td>
                <td>AED {{ x.starting_price }}</td>
                <td>{{ x.ratings }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}