{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <form action method="post" class="col-6 mx-auto card p-3 shadow-lg" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
            <h2>Add Flight Details</h2>
        </center>
        <hr />
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label for="flightId" class="form-label">Flight ID</label>
            <input type="text" class="form-control" placeholder="Enter Flight ID" name="flightId" />
        </div>
        <div class="mb-3">
            <label for="airlineName" class="form-label">Airline Name</label>
            <input type="text" class="form-control" placeholder="Enter Airline Name" name="airlineName" />
        </div>
        <div class="mb-3">
            <label for="airlineName" class="form-label">Airplane Name</label>
            <input type="text" class="form-control" placeholder="Enter Airplane Name" name="airplaneName" />
        </div>
        <div class="mb-3">
            <label for="originCode" class="form-label">Origin Code</label>
            <input type="text" class="form-control" placeholder="Enter Origin Code" name="originCode" />
        </div>
        <div class="mb-3">
            <label for="destinationCode" class="form-label">Destiantion Code</label>
            <input type="text" class="form-control" placeholder="Enter Destiantion Code" name="destinationCode" />
        </div>
        <div class="mb-3">
            <label for="depCity" class="form-label">Departure City</label>
            <input type="text" class="form-control" placeholder="Enter Departure City" name="depCity" />
        </div>
        <div class="mb-3">
            <label for="arrivalCity" class="form-label">Arrival City</label>
            <input type="text" class="form-control" placeholder="Enter Arrival City" name="arrivalCity" />
        </div>
        <div class="mb-3">
            <label for="arrivalCity" class="form-label">Price</label>
            <input type="text" class="form-control" placeholder="Enter Price" name="price" />
        </div>
        <div class="mb-3">
            <label for="arrivalCity" class="form-label">Trip</label>
            <input type="text" class="form-control" placeholder="Enter Trip" name="trip" />
        </div>
        <div class="mb-3">
            <label for="arrivalCity" class="form-label">Class</label>
            <input type="text" class="form-control" placeholder="Enter Class" name="class" />
        </div>
        <div class="mb-3">
            <label for="deptDateTime" class="form-label">Departure Date</label>
            <input type="date" class="form-control" placeholder="Enter Departure Date" name="deptDate" />
        </div>
        <div class="mb-3">
            <label for="arrivalDateTime" class="form-label">Return Date</label>
            <input type="date" class="form-control" placeholder="Enter Return Date" name="returnDate" />
        </div>
        <div class="mb-3">
            <label for="deptDateTime" class="form-label">Departure Time</label>
            <input type="time" class="form-control" placeholder="Enter Departure Time" name="deptTime" />
        </div>
        <div class="mb-3">
            <label for="arrivalDateTime" class="form-label">Arrival Time</label>
            <input type="time" class="form-control" placeholder="Enter Arrival Time" name="arrivalTime" />
        </div>
        <div class="mb-3">
            <label for="arrivalDateTime" class="form-label">Flight Duration</label>
            <input type="text" class="form-control" placeholder="Enter Flight Duration" name="flightDuration" />
        </div>
        <div class="mb-3">
            <label for="airlineImage" class="form-label">Airline Image</label>
            <input type="file" class="form-control" name="airlineImage" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}