{% extends "base2.html" %}
{% block content %}
<style>
    @media (min-width:1024px) and (max-width:1366px) {
        .main-card {
            height: auto !important;
        }
    }

    @media (min-width:820px) and (max-width:1180px) {
        .main-card {
            height: auto !important;
        }
    }

    .reservation-container {
        max-width: 1300px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 20px;
        background-color: #121212;
    }

    h4.card-title {
        text-align: center;
        padding: 20px 0;
        font-size: 35px;

    }

    table {
        color: #AFEeee;
        width: 100%;
        max-width: 1300px;
        height: auto;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 2px solid white;
    }

    th {
        background-color: #121212;

    }

    .btn-success {
        height: auto;
        color: #AFEeee;
        width: auto;
        background-color: #2020db;
        border: 2px solid #1f1fff;
        outline: none;
        transition: .4s;
        color: #fff;
        padding: 5px 10px;
        /* Adjust padding */
        font-size: 15px;
        cursor: pointer;
        white-space: nowrap;
    }

    .btn-success:hover {
        background-color: #1717c2;
        border: 2px solid #1717c2;
    }

    .btn-success .fas {
        margin-right: 5px;
    }

    .main-card {
        height: 48vh;
    }

    @media screen and (max-width: 768px) {
        .main-card {
            height: auto;
        }
    }

    .card {
        margin: auto;
        transition: transform 0.3s ease;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
        background-color: #121212;

    }

    .card:hover {
        transform: scale(1.05);
    }
</style>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{image}}" alt="" class="img-fluid rounded"
                style="color:#AFEeee; width: 120%; height:58vh; padding-bottom:20px;">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-6">
                    <img src="/media/uploads/images/hotel2.jpg" alt="" class="img-fluid rounded"
                        style="color:#AFEeee; width: auto; height:auto;">
                </div>
                <div class="col-6">
                    <img src="/media/uploads/images/hotel3.jpg" alt="" class="img-fluid rounded"
                        style="color:#AFEeee; width: auto; height:auto;">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img src="/media/uploads/images/hotel4.jpg" alt="" class="img-fluid rounded"
                        style="color:#AFEeee; width: auto; height:auto; margin-top:20px;">
                </div>
                <div class="col-6">
                    <img src="/media/uploads/images/hotel6.jpg" alt="" class="img-fluid rounded"
                        style="color:#AFEeee; width: auto; height:auto; margin-top:20px;">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card h-100 mt-3">
                <div class="card-body main-card" style="overflow: scroll;">
                    <h4 class="card-title" style="color:#AFEeee;">{{ name }}</h4>
                    <p class="card-text" style="text-align: justify;  color: #AFEeee;">
                        Welcome to our inviting hotel, where comfort and convenience await. Nestled in a prime location, our establishment offers a tranquil retreat for travelers seeking a relaxing stay. From cozy rooms to modern amenities, we strive to provide a seamless experience for our guests. Start your day with a hearty breakfast before exploring the nearby attractions, or simply unwind in our welcoming lobby with a book or a cup of coffee. Whether you're here for business or leisure, our dedicated staff is committed to ensuring your stay is nothing short of enjoyable. Welcome to your home away from home.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 ">
            <div class="card  mt-3">
                <div class="card-body  main-card">
                    <h4 class="card-title" style="color:#AFEeee;">Facilities Available</h4>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item"><i
                                        class="fas fa-coffee"></i> Good
                                    Breakfast</li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item"><i
                                        class="fas fa-parking"></i> Free
                                    parking</li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item"><i
                                        class="fas fa-swimming-pool"></i> 2
                                    swimming pools</li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item"><i
                                        class="fas fa-utensils"></i> 3
                                    restaurants</li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item"><i
                                        class="fas fa-shuttle-van"></i>
                                    Shuttle service</li>
                            </ul>
                        </div>

                        <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item "><i
                                        class="fas fa-bath"></i> Private
                                    bathroom</li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item "><i
                                        class="fas fa-mountain"></i> View
                                </li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item "><i
                                        class="fas fa-wifi"></i> Free Wifi
                                </li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item "><i
                                        class="fas fa-users"></i> Family
                                    rooms</li>
                                <li style='color:#AFEeee; background-color: #121212;' class="list-group-item "><i
                                        class="fas fa-concierge-bell"></i>
                                    Room service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container reservation-container mt-5">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table
                        summary="This table shows how to create responsive tables using Datatables' extended functionality">
                        <thead>
                            <tr>
                                <th style="color:#AFEeee; width: 40%;">Room Type</th>
                                <th style="color:#AFEeee; width: 10%; text-align:center;">Guests</th>
                                <th style="color:#AFEeee; width: 10%; text-align:center;">Price</th>
                                <th style="color:#AFEeee; width: 2%; text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room,price in zipped_data %}
                            <tr>
                                <td>{{ room.room_type }}</td>
                                <td style="text-align:center;">{{room.room_capacity}}</td>
                                {% if currencySelected == 'USD' %}
                                <td style="text-align:center; color:#AFEeee;">USD {{price}}</td>
                                {% else %}
                                <td style="text-align:center; color:#AFEeee;">AED {{price}}</td>
                                {% endif %}
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" id="bookRoomBtn">
                                        <a href="{% url 'resortBooking:confirmBooking' id=id name=name location=location roomType=room.room_type roomPrice=price %}"
                                            style="text-decoration: none; color: white;">
                                            <i class="fas fa-bed"></i> Book Room
                                        </a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}