{% extends 'base.html' %}
{% block content %}

<style>
  :root {
    --primary-color: rgb(11, 78, 179);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }



  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input-field {
    position: relative;
    margin:25px 0px;
    background-color: #121212;

  }


  .input-field input {
    width: calc(100% - 30px);
    height: 50px;
    background-color: #121212;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    color: #AFEeee;
    padding-left: 30px;
    font-size: 15px;
  }


  .input-field input::placeholder {
    color: white;
  }


  .input-field input:focus {
    background-color: #121212 !important;
    color: #AFEeee;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #AFEeee;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .text-center {
    text-align: center;
  }
  

  .fa-lock{
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: white;
  }

  /* Form */
  .form {
    width: clamp(420px, 100%, 630px);
    margin: 0 auto; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 0.35rem;
    padding: 1.5rem;
  }
  
  .form-step {
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 1rem 0;
  }
  

  
  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    width: 350px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: #2020db;
    border: 2px solid #1f1fff;
    border-radius: 50px;
    outline: none;
    transition: .4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 110px;
  }
  .btn:hover {
    background-color: #1717c2;
    border: 2px solid #1717c2;
    color:white;
  }
</style>


<form action="" method="post" class="form">
  {% csrf_token %}
  <h1 style="color: #AFEeee;" class="text-center">User Details</h1>
  <div class="form-step">
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" name="password1" placeholder="New Password" id="password1" />
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" name="password2" placeholder="Re-enter Password" id="password2" />
    </div>
    <div class="btns-group">
      <input type="submit" value="Submit" class="btn" />
    </div>
  </div>
</form>
{% endblock %}