{% extends "base2.html" %}
{% block content %}
<style>
    @media (min-width:1024px) and (max-width:1366px) {
        footer {
            margin-top: 600px !important;
        }
    }

    @media (min-width:820px) and (max-width:1180px) {
        footer {
            margin-top: 420px !important;
        }
    }

    .feedbackForm {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);
    }

    form input,
    textarea {
        background-color: #121212 !important;
        color: #AFEeee !important;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4) !important;
    }

    form input::placeholder {
        color: #AFEeee !important;
    }

    form textarea::placeholder {
        color: #AFEeee !important;
    }

    .btn-primary {
        height: 40px;
        background-color: #2020db;
        border: 2px solid #1f1fff;
        outline: none;
        transition: .4s;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        cursor: pointer;
        display: flex;
        /* Add display flex */
        justify-content: center;
        padding-top: 8px;
        width: 100%;
    }

    .btn-primary:hover {
        background-color: #1717c2;
        border: 2px solid #1717c2;
    }

    .icon {
        left: 0px;
        width: 24px;
        height: 24px;
        position: relative;
        bottom: -3px;
        color: white;
    }

    @media (max-width: 576px) {
        .card {
            width: 100%;
            max-width: 380px;
            margin: auto;
        }

        .btn-primary {
            width: 100%;
        }
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container mt-5">
            <form action method="post" class="col-6 mx-auto card p-3 feedbackForm" style="background-color: #121212; color:#AFEeee;">
                {% csrf_token %}
                <center>
                    <h2>User Feedback</h2>
                </center>
                <hr />
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{message }}</div>
                {% endfor %}
                {% endif %}
                <div class="mb-3">
                    <label for="type" class="form-label">Username</label>
                    <input type="text" class="form-control" name="userName" value="{{logged_in_user}}" readonly />
                </div>
                <div class="mb-3">
                    <label for="userFeedback" class="form-label">Feedback</label>
                    <textarea class="form-control" name="userFeedback" rows="4"
                        placeholder='Give your feedback'></textarea>
                </div>
                <button type="submit" id="submitBtn" class="btn btn-primary">
                    <i class="fas fa-check-circle icon"></i>
                    Submit Feedback
                </button>
            </form>
        </div>
    </div>
    <script>
        saveBtn = document.getElementById('submitBtn');

        saveBtn.addEventListener('click', (event) => {
            event.preventDefault();

            Swal.fire({
                title: "Are you sure?",
                text: "Please confirm the details before submission!",
                icon: "warning",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "Yes, confirm it!",
                denyButtonText: `Cancel`
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Your feedback has been received. We will review it and take appropriate action.", "", "success").then(() => {
                        // Introduce a delay before submitting the form
                        setTimeout(() => {
                            saveBtn.closest('form').submit();
                        }, 500); // Adjust the delay time as needed
                    });
                } else if (result.isDenied) {
                    Swal.fire("Details not submitted", "", "info");
                    // Optionally, you can reset or handle the form in some way
                }
            });
        });        
    </script>

    {% endblock %}