{% extends "base2.html" %}
{% block content %}
<style>
  .container {
    padding: 0%;
  }

  .section {
    width: 100%;
    margin: auto;
    height: 100vh;
    background: url(/media/uploads/images/pexels-muffin-creatives-1646311.jpg) no-repeat center center/cover;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .box {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: #121212;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);
    margin-left: 30px;
    margin-bottom: -80px;
    margin-top: 200px;
  }

  .box h1 {
    font-size: 2.5em;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .box p {
    font-size: 1.2em;
    color: white;
    margin: 20px 0;
  }

  @media (min-width:360px) and (max-width:740px) {
      .trip-menu{
        margin-bottom: 20px !important;
      }
  }



  @media (max-width: 576px) {
    .box {
      visibility: hidden !important;
      margin-top: 0px !important;
    }

    .box h1 {
      margin-left: 0px !important;
      visibility: visible !important;
      font-size: 1.5em !important;
      font-weight: 800 !important;
      color: white !important;
      text-transform: uppercase !important;
      margin-left: -40px !important;
    }

    .box p {
      visibility: hidden !important;
    }
  }

  .trip-menu {
    width: 90%;
    overflow: hidden;
    max-width: 800px;
    margin: auto;
    background-color: #121212;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }


  @media (max-width: 576px) {
    .trip-menu {
      width: 80%;
      overflow: scroll !important;
      max-width: 800px;
      margin: auto;
      background-color: #121212;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: auto;
      height: 80vh !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .search {
      width: 250px;
      height: 50px;
      min-height: 50px;
      max-height: 50px;
      background-color: #2020db;
      border: 2px solid #1f1fff;
      border-radius: 50px;
      outline: none;
      transition: .4s;
      color: #fff;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 15px;
      cursor: pointer;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .section {
      overflow-x: hidden !important;
    }
  }


  @media ((min-width: 768px) and (max-width: 992px)) {
    .trip-menu {
      width: 120% !important;
      overflow: scroll !important;
      max-width: 800px;
      margin: auto;
      background-color: #121212;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: auto;
      height: 80vh !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .box {
      margin-left: -26px;
    }
  }

  @media ((min-width:992px) and (max-width: 1200px)) {
    .trip-menu {
      width: 110% !important;
      overflow: scroll !important;
      max-width: 800px !important;
      margin: auto !important;
      background-color: #121212 !important;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2) !important;
      border-radius: 20px !important;
      padding: 20px !important;
      height: 60vh !important;
      display: flex !important;
      flex-direction: column !important;
    }

    .box {
      visibility: visible;
      margin-left: 0px !important;
    }

    .section {
      overflow-x: hidden !important;
    }
  }

  @media ((min-width:1024px) and (max-width: 1366px)) {
    .trip-menu {
      width: 110% !important;
      overflow: scroll !important;
      max-width: 800px !important;
      margin: auto !important;
      background-color: #121212 !important;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2) !important;
      border-radius: 20px !important;
      padding: 20px !important;
      height: 38vh !important;
      display: flex !important;
      flex-direction: column !important;
    }

    .box {
      visibility: visible;
      margin-left: 0px !important;
    }

    .section {
      overflow-x: hidden !important;
    }
  }

  @media ((min-width:820px) and (max-width: 1180px)) {
    .trip-menu {
      width: 100% !important;
      overflow: scroll !important;
      max-width: 800px !important;
      margin: auto !important;
      background-color: #121212 !important;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2) !important;
      border-radius: 20px !important;
      padding: 20px !important;
      height: 63vh !important;
      display: flex !important;
      flex-direction: column !important;
    }

    .box {
      visibility: visible;
      margin-left: 0px !important;
    }

    .section {
      overflow-x: hidden !important;
    }
  }


  @media (min-width: 567px) and (max-width: 768px) {
    .trip-menu {
      width: 100% !important;
      overflow: scroll !important;
      max-width: 800px;
      margin: auto;
      background-color: #121212;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: auto;
      height: 80vh !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .search {
      width: 250px;
      height: 50px;
      min-height: 50px;
      max-height: 50px;
      background-color: #2020db;
      border: 2px solid #1f1fff;
      border-radius: 50px;
      outline: none;
      transition: .4s;
      color: #fff;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 15px;
      cursor: pointer;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .section {
      overflow-x: hidden !important;
    }

    .box{
      margin-left: 10px;
    }
    
  }


  .trip-box {
    overflow: hidden;
  }

  .search_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }



  .card {
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9) !important;
    background-color: #121212;
    height: 90%;
  }

  .card h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #AFEeee;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
  }

  .card:not(:last-child) {
    margin-bottom: 20px;
  }

  .form-check-input {
    margin-right: 5px;
  }

  .card select option {
    background-color: #121212;
    color: #AFEeee;
    padding: 10px;
    font-size: 1em;
  }

  .card select:focus {
    background-color: #121212;
    color: #AFEeee;
  }

  .card select option:hover {
    background-color: #121212;
    color: #AFEeee;
  }

  .card select {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #121212;
    cursor: pointer;
    position: relative;
    color: #AFEeee;
  }

  .card select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #AFEeee;
  }

  .card select option {
    padding: 10px;
    color: #AFEeee;
  }

  .card input[type="date"],
  .card input[type="number"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0;
    font-size: 1em;
    background-color: #121212;
    color: #AFEeee;
  }

  .search {
    width: 250px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: #2020db;
    border: 2px solid #1f1fff;
    border-radius: 50px;
    outline: none;
    transition: .4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
  }

  .search:hover {
    background-color: #1717c2;
    border: 2px solid #1717c2;
  }

  input[type="radio"] {
    display: none;
  }

  label[for="round_trip"],
  label[for="one_way"] {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #03a9f4;
    transition: background-color 0.3s;
    background-color: #2020db;
    border: 2px solid #1f1fff;
    transition: .4s;
  }


  @media (max-width: 576px) {

    label[for="round_trip"],
    label[for="one_way"] {
      display: inline-block;
      cursor: pointer;
      margin-left: 0px !important;
      margin-top: 10px;
      padding: 10px;
      border: 2px solid #fff;
      border-radius: 5px;
      color: #fff;
      background-color: #03a9f4;
      transition: background-color 0.3s;
      background-color: #2020db;
      border: 2px solid #1f1fff;
      transition: .4s;
    }
  }

  input[type="radio"]:checked+label {
    background-color: black;
    border: none;
  }
</style>

<section class="section" style="margin-top:0%;padding-top:0%">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="box">
          <h1>Compare and book your flight with ease</h1>
          <p>Discover your next dream destination</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="trip-menu">
          <div class="text-center">
            <div class="radio-container">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="round_trip" name="trip_type" checked>
                <label class="form-check-label" style="width: 100%;" for="round_trip">Round Trip</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="one_way" name="trip_type">
                <label class="form-check-label" style="width: 100%;" for="one_way">One Way</label>
              </div>
            </div>
          </div>

          <form id="round_trip_form" action="{% url 'flightBooking:selectDoubleflight'%}" method="post">
            {% csrf_token %}
            <div class="trip_box">
              <div class="search_box">
                <div class="card">
                  <h4>From:</h4>
                  <select class="form-control" name="deptCity" id="deptCity">
                    <option value>Select Departure City</option>
                    {% for roundwayDeptdata in roundwayDeptdata %}
                    <option name="deptCity" value="{{ roundwayDeptdata }}">{{roundwayDeptdata}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="card">
                  <h4>To:</h4>
                  <select class="form-control" name="arrivalCity" id="arrivalCity">
                    <option value>Select Arrival City</option>
                    {% for roundwayArrdata in roundwayArrdata %}
                    <option name="arrivalCity" value="{{ roundwayArrdata }}">{{roundwayArrdata}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="card">
                  <h4>Departure:</a>
                    <ul class="dropdown">
                  </h4>
                  <input class="form-control" name="deptDate" type="date">
                </div>
                <div class="card">
                  <h4>Return:</a>
                    <ul class="dropdown">
                  </h4>
                  <input class="form-control" name="returnDate" type="date">
                </div>

                <div class="card">
                  <h4>Class:<ul class="dropdown">
                  </h4>
                  <select class="form-control" name="flight_class" id="flight_class">
                    <option value>Select Flight Class</option>
                    <option name="flight_class" value="Economy">Economy</option>
                    <option name="flight_class" value="Business">Business</option>
                  </select>
                </div>

                <div class="card">
                  <h4>Passengers:</a>
                    <ul class="dropdown">
                  </h4>
                  <input class="form-control" name="passengers" type="number">
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="search">
                  <i class="fas fa-search mr-2"></i> Search Round Trip
                </button>
              </div>
            </div>
          </form>

          <form id="one_way_form" action="{% url 'flightBooking:selectSingleflight'%}" method="post">
            {% csrf_token %}
            <div class="trip_box">
              <div class="search_box">
                <div class="card">
                  <h4>From:</h4>
                  <select class="form-control" name="deptCity" id="deptCity">
                    <option value>Select Departure City</option>
                    {% for onewayDeptdata in onewayDeptdata %}
                    <option name="deptCity" value="{{ onewayDeptdata }}">{{onewayDeptdata}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="card">
                  <h4>To:</h4>
                  <select class="form-control" name="arrivalCity" id="arrivalCity">
                    <option value>Select Arrival City</option>
                    {% for onewayArrdata in onewayArrdata %}
                    <option name="arrivalCity" value="{{ onewayArrdata }}">{{onewayArrdata}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="card">
                  <h4>Departure:</a>
                    <ul class="dropdown">
                  </h4>
                  <input class="form-control" name="deptDate" type="date">
                </div>
                <div class="card">
                  <h4>Class:<ul class="dropdown">
                  </h4>
                  <select class="form-control" name="flight_class" id="flight_class">
                    <option value>Select Flight Class</option>
                    <option name="flight_class" value="Economy">Economy</option>
                    <option name="flight_class" value="Business">Business</option>
                  </select>
                </div>
                <div class="card">
                  <h4>Passengers:</a>
                    <ul class="dropdown">
                  </h4>
                  <input class="form-control" name="passengers" type="number">
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="search">
                  <i class="fas fa-search mr-2"></i> Search One Way
                </button>
              </div>
            </div>
          </form>
        </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get references to the radio buttons and forms
    var roundTripRadio = document.getElementById("round_trip");
    var oneWayRadio = document.getElementById("one_way");
    var roundTripForm = document.getElementById("round_trip_form");
    var oneWayForm = document.getElementById("one_way_form");

    // Add event listeners to radio buttons
    roundTripRadio.addEventListener("change", function () {
      if (roundTripRadio.checked) {
        roundTripForm.style.display = "block";
        oneWayForm.style.display = "none";
      }
    });

    oneWayRadio.addEventListener("change", function () {
      if (oneWayRadio.checked) {
        oneWayForm.style.display = "block";
        roundTripForm.style.display = "none";
      }
    });
  });
</script>
{% endblock%}