{% extends "base2.html" %}
{% block content %}

<body>

    <style>
        @media (min-width:1024px) and (max-width:1366px) {
            footer {
                margin-top: 570px !important;
            }
        }

        @media (min-width:820px) and (max-width:1180px) {
            footer {
                margin-top: 343px !important;
            }
        }

        @media (min-width:360px) and (max-width:740px) {
            .payment-button {
                margin-left: 9px !important;
            }
        }


        @media (min-width:430px) and (max-width:930px) {
            .payment-button {
                margin-left: 50px !important;
            }
        }

        .ticket {
            max-width: 897px;
            width: 100% !important;
            display: flex;
            background: #121212;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7) !important;
            margin: auto;
        }

        .left {
            display: flex;
        }

        .hotelImage {
            height: 250px;
            background-image: url("/media/uploads/images/hotel1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.95;
            margin-left: auto;
            margin-right: auto;
        }

        @media (min-width: 576px) {
            .hotelImage {
                height: 250px;
                background-image: url("/media/uploads/images/hotel1.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.95;
                width: auto;
                margin: 0px;
            }

            .location {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-top: 8px;
                border-top: 1px solid gray;
                font-weight: 700;
                margin-left: 0px;
            }

            .payment-button {
                margin-left: 43px;
            }

            .right {
                width: 295px !important;
                border-top: 2px dashed #404040 !important;
                margin-left: 5px;
                border-left: none !important;
            }
        }

        @media (min-width: 768px) and (max-width: 992px) {
            .hotelImage {
                height: 250px;
                background-image: url("/media/uploads/images/hotel1.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.95;
                width: 100%;
                margin: 0px !important;
            }

            .location {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-top: 8px;
                border-top: 1px solid gray;
                font-weight: 700;
                margin-left: 0px !important;
            }

            .payment-button {
                margin-left: 30px !important;
            }

            .right {
                width: 505px !important;
                border-top: 2px dashed #404040 !important;
                margin-left: 22px;
                border-left: none !important;
            }
        }


        .admit-one {
            position: absolute;
            color: #AFEeee;
            height: 250px;
            padding: 0 10px;
            letter-spacing: 0.15em;
            font-size: 12px;
            display: flex;
            text-align: center;
            justify-content: space-around;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            margin-top: 50px;
        }

        .admit-one span:nth-child(2) {
            color: #AFEeee;
            font-weight: 700;
        }

        .left .ticket-number {
            height: 250px;
            width: 300px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 10px;
            color: #AFEeee;
        }

        .ticket-info {
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            margin-left: 10px;
        }

        .date {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            padding: 5px 0;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .date .nov-10 {
            color: #AFEeee;
            font-size: 18px;
            width: 100%;
        }

        .show-name {
            font-size: 18px;
            color: #AFEeee;
            font-weight: 700;
        }

        .show-name h1 {
            font-size: 30px;
            letter-spacing: 0.05em;
            margin-bottom: 4px;
            color: #AFEeee;
            font-family: "Saira Stencil One", sans-serif;
        }

        .show-name h2 {
            margin-bottom: 2px;
        }

        .time {
            color: #AFEeee;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-weight: 800;
        }

        .time span {
            font-weight: 400;
            color: #AFEeee;
        }

        .left .time {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .tagline {
            font-style: italic;
            font-weight: 700;
            font-size: 14px;
        }

        .location {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-top: 8px;
            border-top: 1px solid gray;
            font-weight: 700;
            margin-left: 30px;
        }

        .location span:first-child {
            text-align: left;
        }

        .location span:last-child {
            text-align: right;
        }

        .location .separator {
            font-size: 20px;
        }

        .right {
            width: 225px;
            border-left: 2px dashed #404040;
            margin-left: auto;
            margin-right: auto;
        }


        .right .admit-one {
            color: #AFEeee;
        }

        .right .admit-one span:nth-child(2) {
            color: #AFEeee;
        }

        .right .right-info-container {
            height: 320px;
            padding: 10px 10px 10px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .right .show-name h1 {
            font-size: 18px;
            font-family: "Barlow", sans-serif;
        }

        .right .time {
            margin-top: 10px;
        }

        .barcode {
            height: 135px;
        }

        .barcode img {
            height: 100%;
        }

        .right .ticket-number {
            color: #AFEeee;
            font-weight: 700;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .payment-button {
            width: 100%;
            max-width: 300px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: #2020db;
            border: 2px solid #1f1fff;
            border-radius: 50px;
            outline: none;
            transition: .4s;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 15px;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
        }

        .payment-button:hover {
            background-color: #1717c2;
            border: 2px solid #1717c2;
        }

        #download-btn {
            margin-right: 10px;
        }
    </style>


    <div class="container mt-5">
        <div class="ticket">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class="hotelImage">
                        <div class="ticket-number"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class="ticket-info">
                        <p class="date">
                            <span class="nov-10">{{ current_datetime }}</span>
                        </p>
                        <div class="show-name">
                            <h2>{{ reservationData.reservation_type }}</h2>
                            <h2>{{ reservationData.reservation_room }} Room</h2>
                            <span style=" color: #AFEeee;">for</span>
                        </div>
                        <div class="time">
                            <p style=" color: #AFEeee;; font-size:22px">{{ reservationData.reservation_duration }} Night
                            </p>
                        </div>
                        <p class="location">
                            <span style=" color: #AFEeee; text-align:left;">{{reservationData.reservation_location}}</span>
                            <span class="separator"><i class="fas fa-hotel" style="color: #AFEeee;"></i></span><span
                                style=" color: #AFEeee; text-align:left;">{{reservationData.reservation_location }},
                                UAE</span>
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <div class="right">
                        <p class="admit-one">
                            <span>ADMIT ONE</span>
                            <span>ADMIT ONE</span>
                            <span>ADMIT ONE</span>
                        </p>
                        <div class="right-info-container">
                            <div class="show-name">
                                <h1>{{reservationData.reservation_type}}</h1>
                            </div>
                            <div class="time">
                                <p>{{ reservationData.reservation_room }} Room</p>
                                <p>{{ reservationData.reservation_duration }} Night</p>
                            </div>
                            <div class="barcode">
                                <img src="/media/uploads/images/qr-code-example.jpg" alt="QR code">
                            </div>
                            <p class="ticket-number">#{{ reservationData.reservation_id }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form
                    action="{% url 'hotelBooking:sendEmail' reservationData.reservation_id reservationData.reservation_type %}"
                    method="post">
                    {% csrf_token %}
                    <button type="submit" id="button" class="payment-button text-center">
                        <i class="fas fa-id-card" style="position: relative; right:5px; bottom:1px;"></i> E-Pass
                    </button>
                </form>
            </div>
        </div>
    </div>


    <script>
        var reservationId = "{{reservationData.reservation_id}}";
        var reservationType = "{{reservationData.reservation_type}}";

        console.log(reservationId)
        console.log(newreservationType)
    </script>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            downloadPass()
        })

        function downloadPass() {
            const navbar = document.getElementById('nav');
            const footer = document.getElementById('footer');
            const button = document.getElementById('button');

            navbar.style.display = 'none';
            footer.style.display = 'none';
            button.style.display = 'none';

            const pass = document.getElementById("pass");
            const clone = pass.cloneNode(true);            

            var opt = {
                margin: 0,
                filename: `${reservationType}Pass_${reservationId}.pdf`,
                image: { type: 'jpeg', quality: 0.1 },
                html2canvas: { scale: 12 },
                jsPDF: { unit: 'in', format: [10, 12], orientation: 'landscape' }
            };

            html2pdf().from(clone).set(opt).save().then(() => {
                navbar.style.display = 'block';
                navbar.style.padding=0;
                footer.style.display = 'block';
                button.style.display='block'
                console.log("Navbar and footer shown.");
            }).then(()=>{
                showAlert()
            }).catch(error => {
                console.error("Error generating PDF:", error);
            });
        }


       function showAlert(){
            Swal.fire({
                position: "center",
                icon: "success",
                title: "Your reservation has been booked!",
                showConfirmButton: false,
                timer: 2000
            });  
       }
    </script>  

</body>

</html>

{% endblock %}