{% extends "base2.html" %}
{% block content %}
<style>
  @media (min-width:1024px) and (max-width:1366px) {
    .airline-image {
      display: none !important;
    }

    .btn-primary {
      margin-left: -69% !important;
    }

    .submitBtn {
      margin-left: 0% !important;
    }

    footer {
      margin-top: 900px !important;
    }
  }

  @media (min-width:768px) and (max-width:1024px) {
    .icon {
      display: none !important;
    }

    .svgline {
      display: none !important;
    }

    footer {
      margin-top: 190px !important;
    }
  }

  @media (min-width:820px) and (max-width:1180px) {
    .airline-image {
      display: none !important;
    }

    .btn-primary {
      margin-left: -15% !important;
    }

    .submitBtn {
      margin-left: 0% !important;
    }

    footer {
      margin-top: 722px !important;
    }
  }


  .container {
    padding: 0%;
  }

  .section1 {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .white {
    color: #AFEeee;
    font-size: large;
  }

  .white-2 {
    font-size: medium;
  }

  .v-line {
    border-left: 1px dashed rgba(255, 255, 255, .9);
    height: 100%;
    margin: 0px 15px;
  }

  .small-label {
    font-size: .7em;
    color: #AFEeee;
  }

  .query-data-div {
    min-height: 10vh;
    background: #121212;
    display: flex;
  }

  .query-data-div2 {
    background: #121212;
    display: none;
  }

  .query-data-div2>.container {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .query-data-div2 .trip-filter {
    width: 15%;
    display: flex;
  }

  .query-data-div2 .trip-data {
    width: 70%;
  }

  .query-data-div2 .trip-modify {
    width: 15%;
    display: flex;
  }

  .query-data-div2 .trip-modify form {
    margin-top: auto;
    margin-bottom: auto;
  }

  .query-data-div2 .trip-filter button {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: auto;
  }

  .query-data-div>.container {
    display: flex;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
  }

  .query-data-div>.container>div {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }

  .trip-places>div {
    padding-left: 8px !important;
    padding-right: 8px !important;
    color: #AFEeee;
  }

  .trip-time>div {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .trip-places {
    flex: 1;
    overflow: hidden;
    min-width: 33%;
  }

  .trip-time,
  .trip-class {
    padding-left: 10px;
    padding-right: 10px;
  }

  .trip-modify {
    padding-left: 12px;
    padding-right: 12px;
  }

  .spl-btn {
    transition-duration: .2s;
    color: #AFEeee;
    border-color: #AFEeee;
  }

  .spl-btn2 {
    color: #AFEeee;
    padding: 0;
  }

  .spl-btn2:hover {
    color: #AFEeee !important;
    background-color: transparent !important;
  }

  .spl-btn2:active {
    background-color: transparent !important;
    color: #AFEeee !important;
  }

  .spl-btn2:focus {
    box-shadow: none !important;
  }

  .trip-modify button:hover,
  button:active {
    background-color: rgb(255, 235, 245);
    color: rgb(189, 4, 116);
  }

  .trip-modify button:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .3);
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .query-result-div,
  .query-result-div-2 {
    flex: 1;
    background-color: #fff;
    display: flex;
    animation-name: appear;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .filter-div {
    padding: 15px;
  }

  .actual-result-div {
    flex: 1;
    padding: 20px 35px;
  }

  .filter-box>div {
    margin: 10px 0px 30px 0px;
  }

  .filter-div h4 {
    font-weight: 800;
    line-height: .75em;
    font-size: 1.1em;
    color: #321d1d;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .filter-box .font-weight-bold {
    margin-bottom: 5px;
  }

  .square-box {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: .6em;
    width: 23%;
    transition-duration: .2s;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .square-box:hover {
    cursor: pointer;
  }

  .square-box.active {
    background: #121212;
    color: #AFEeee;
  }

  .square-box img {
    width: 34px;
  }

  .filter-img-div {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-link {
    background: none;
    border: none;
    outline: none;
    color: blue;
  }

  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active {
    text-decoration: none;
    background: none;
    outline: none;
    cursor: pointer;
  }


  .each-flight-div {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    /*
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);*/
  }

  .each-flight-div-box {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 10px;
  }

  .card {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .each-flight-div>div {
    display: flex;
  }

  .company-details {
    padding-left: 5px;
    padding-right: 5px;
  }

  .company-name {
    font-weight: bold;
    color: #AFEeee;
  }

  .plane-name {
    font-size: .8em;
    color: #AFEeee;
  }

  .flight-company {
    width: 25%;
  }

  .flight-time {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
  }

  .flight-details {
    width: 32%;
    justify-content: space-between;
  }

  .flight-origin-time,
  .flight-destination-time {
    width: 40%;
  }

  .flight-stops {
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .flight-time h5 {
    margin-bottom: 2px;
  }

  .flight-place {
    font-size: .8em;
    color: grey;
    text-align: center;
  }

  .each-flight-div>div {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }

  .flight-price {
    display: flex;
    margin-right: 15px;
    color: #AFEeee;
  }

  .flight-price>h5 {
    margin-top: 20%;
    margin-bottom: 20%;
    font-weight: 600;
  }

  .flight-stops {
    position: relative;
    opacity: 1;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 7px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9em;
  }

  .tooltip .tooltiptext:before {
    content: '';
    display: block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, .8);
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  /*.flight-stops-seperator{
    border-top: 2px solid #979797;
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.flight-stops-disc{
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 2;
}*/
  .flight-details-btn {
    display: flex;
    flex: 1;
  }

  .flight-details-btn button {
    margin-top: auto;
    margin-bottom: auto;
  }

  .sort-div {
    display: flex;
    justify-content: space-between;
    /*margin-left: 20px;
    margin-right: 150px;*/
    padding-left: 20px;
    padding-right: 20px;
    font-size: .9em;
  }

  .sort-arrive,
  .sort-depart {
    /*margin-left: 34px;
    margin-right: 4px;*/
    text-align: center;
  }

  .sort-price {
    margin-right: 20px;
  }

  .price-range-output {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    color: #808080;
    font-size: .8em;
  }


  .show {
    display: block;
  }

  .hide {
    display: none;
  }


  .selection-div {
    position: fixed;
    z-index: 99;
    background: #03a9f4;
    height: 10%;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    display: flex;
    color: white;
    justify-content: space-evenly;
  }

  .selection-div>div {
    text-align: center;
    display: flex;
  }

  .selection-div>div>div {
    margin: auto;
  }

  .flight1-radio,
  .flight2-radio {
    transform: scale(1.5);
  }

  .flight-details-btn input[type="radio"] {
    margin: auto;
  }


  .query-trip-type-div {
    display: flex;
    padding: 10px 0;
  }

  .query-trip-type-div>div {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  #flight1-btn-div {
    padding: 5px 10px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    border: .5px dotted rgb(220, 45, 60);
    transition-duration: .4s;
  }

  #flight2-btn-div {
    padding: 5px 10px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    border: .5px dotted rgb(220, 45, 60);
    transition-duration: .4s;
  }

  .tabs {
    margin-top: 50px;
    font-size: 15px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50px;
    position: relative;
  }

  .tabs a {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    position: relative;
    transition-duration: 0.6s;
  }

  .tabs a.active-div {
    color: #fff;
  }


  .tabs a i {
    margin-right: 5px;
  }

  .tabs .selector {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #b80190;
    background: linear-gradient(45deg, crimson 0%, #b80190 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
  }

  .bb2 {
    display: none;
    padding: .2rem .52rem;
    border-radius: 50%;
  }

  .blue {
    background-color: rgb(227, 242, 253);
  }

  .b1 {
    padding: 0;
  }

  .selection-media {
    display: none !important;
    width: 100%;
  }

  .selection-media>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .section1 {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .white {
    color: #AFEeee;
    font-size: large;
  }

  .white-2 {
    font-size: medium;
  }

  .v-line {
    border-left: 1px dashed rgba(255, 255, 255, .9);
    height: 100%;
    margin: 0px 15px;
  }

  .small-label {
    font-size: .7em;
    color: #AFEeee;
  }

  .query-data-div {
    margin-top: 10px;
    min-height: 11vh;
    background: #121212;
    display: flex;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.7) !important;
  }

  .query-data-div>.container {
    display: flex;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
  }

  .query-data-div>.container>div {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }

  .trip-places>div {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .trip-time>div {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .trip-places {
    flex: 1;
    overflow: hidden;
    min-width: 33%;
  }

  .trip-time,
  .trip-class {
    padding-left: 10px;
    padding-right: 10px;
  }

  .trip-modify {
    padding-left: 12px;
    padding-right: 12px;
  }

  .spl-btn {
    transition-duration: .2s;
    color: #AFEeee;
    border-color: #AFEeee;
  }

  .query-result-div,
  .query-result-div-2 {
    flex: 1;
    background-color: #fff;
    display: flex;
  }

  .filter-div {
    padding: 15px;
  }

  .actual-result-div {
    flex: 1;
    padding: 20px 35px;
  }

  .filter-box>div {
    margin: 10px 0px 30px 0px;
  }

  .filter-div h4 {
    font-weight: 800;
    line-height: .75em;
    font-size: 1.1em;
    color: #321d1d;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .filter-box .font-weight-bold {
    margin-bottom: 5px;
  }

  .square-box {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: .6em;
    width: 23%;
    transition-duration: .2s;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .square-box:hover {
    cursor: pointer;
  }

  .square-box.active {
    background-color: #0075ff;
    border-color: #0075ff;
    color: #AFEeee;
  }

  .square-box img {
    width: 34px;
  }

  .filter-img-div {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-link {
    background: none;
    border: none;
    outline: none;
    color: blue;
  }

  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active {
    text-decoration: none;
    background: none;
    outline: none;
    cursor: pointer;
  }


  .each-flight-div {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
  }

  .each-flight-div-box {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 10px;
  }

  .card {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .each-flight-div>div {
    display: flex;
  }

  .company-details {
    padding-left: 5px;
    padding-right: 5px;
  }

  .company-name {
    font-weight: bold;
  }

  .plane-name {
    font-size: .8em;
    color: #AFEeee;
  }

  .flight-company {
    width: 25%;
  }

  .flight-time {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
  }

  .flight-details {
    width: 32%;
    justify-content: space-between;
  }

  .flight-origin-time,
  .flight-destination-time,
  .flight-origin-time2,
  .flight-destination-time2 {
    width: 40%;
  }

  .flight-stops,
  .flight-stops2 {
    width: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 1;
  }

  .flight-time h5 {
    margin-bottom: 2px;
    color: #AFEeee;
  }

  .flight-place {
    font-size: .8em;
    color: #AFEeee;
    text-align: center;
  }

  .each-flight-div>div {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }

  .flight-price2 {
    display: flex;
    margin-right: 15px;
  }

  .flight-price2>h5 {
    margin-top: 20%;
    margin-bottom: 20%;
    font-weight: 600;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, .8);
    color: #AFEeee;
    text-align: center;
    border-radius: 6px;
    padding: 4px 7px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9em;
  }

  .tooltip .tooltiptext:before {
    content: '';
    display: block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, .8);
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .flight-details-btn {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }

  .flight-details-btn button {
    margin-top: auto;
    margin-bottom: auto;
  }

  .sort-div {
    display: flex;
    justify-content: space-between;
    /*margin-left: 20px;
  margin-right: 150px;*/
    padding-left: 20px;
    padding-right: 20px;
    font-size: .9em;
  }

  .sort-arrive,
  .sort-depart {
    /*margin-left: 34px;
  margin-right: 4px;*/
    text-align: center;
  }

  .sort-price {
    margin-right: 20px;
  }

  .price-range-output {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    color: #AFEeee;
    font-size: .8em;
  }

  .query-data-div2>.container {
    display: flex;
    justify-content: space-between;
  }

  .query-data-div2 .trip-modify {
    padding-left: 0;
    padding-right: 0;
  }

  .query-data-div2 .trip-modify form {
    display: flex;
    justify-content: start;
  }

  .query-data-div2 .trip-filter form {
    display: flex;
    justify-content: center;
  }

  .icon {
    position: absolute;
    top: 1px;
    width: 30px;
    margin-right: -100px;
    margin-left: 18px;
    margin-top: 9px;
    background: transparent;

  }

  .duration {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #AFEeee;
  }


  @media (min-width:100px) and (max-width:1090px) {
    .flightimage {
      display: none !important;
    }

  }

  @media (max-width: 576px) {
    .each-flight-div {
      display: flex;
      justify-content: space-between;
      padding: 25px 0px !important;
    }

    .flight-time {
      margin-right: 10px;
    }

    .svgline {
      display: none;
    }

    .flight-origin-time {
      margin-right: 30px;
      white-space: nowrap;
    }

    .flight-destination-time {
      margin-right: 20px;
    }

    .flight-place {
      margin-right: 20px;
      white-space: nowrap;
    }

    .icon {
      margin-left: -151px;
    }

    .trip-time {
      padding: 0% !important;
      white-space: nowrap;
    }

    .trip-class {
      padding: 0% !important;
    }

    .duration {
      position: absolute;
      top: -23px;
      bottom: 30px;
      transform: translateX(-108%);
      white-space: nowrap;
    }

    .flightimage {
      display: none;
    }

    .query-result-div {
      display: block;
    }

    .query-result-div>.container>.row {
      margin-left: 0;
      margin-right: 0;
    }

    .query-data-div2 {
      display: block;
    }

    .actual-result-div {
      padding: 10px 0px !important;
    }

    .sort-div {
      display: none !important;
    }

    .each-flight-div {
      padding: 12px 10px;
    }

    .each-flight-div div {
      overflow-wrap: break-word;
    }

    .flight-icon {
      display: none;
    }

    .flight-time-div {
      max-width: 44%;
      white-space: nowrap;
      margin-right: 20px !important;
    }

    .flight-time h5 {
      font-size: 1em;
    }

    .flight-stops {
      width: 17%;
    }

    .flight-company {
      width: 23%;
    }

    .o-b {
      display: none;
    }

    .flight-price>h5 {
      margin-top: 50%;
      margin-bottom: 53%;
      font-weight: 600;
      margin-left: -40%;
    }

    .flight-details {
      display: none;
    }

    .white {
      font-size: small;
    }

    .filter-div {
      position: fixed;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      background-color: white;
      z-index: 999999;
      box-shadow: 0 0 20px rgba(0, 0, 0, .3);
      padding-top: 10px;
      padding-bottom: 10px;
      display: none;
    }

    .filter-div h4 {
      font-size: 1.4em;
    }

    .close-filter {
      display: block;
    }

    .f1 {
      background-color: rgb(227, 242, 253);
    }

    .selection1,
    .selection2,
    .selection-total,
    .selection-confirm {
      display: none !important;
    }

    .selection-media {
      display: flex !important;
    }

    .btn-primary {
      margin-left: -55%;
      font-size: 10px !important;
      margin-top: 22px !important;
      width: auto !important;
    }

    .trip-places>div {
      padding-left: 0px !important;
      padding-right: 8px !important;
    }

  }

  .btn-primary {
    background-color: #2020db;
    border: 2px solid #1f1fff;
    transition: .4s;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 140%;
    font-size: 15px;
    margin-top: 10%;
  }

  footer {
    margin-top: 150px;
  }

  .btn-primary:hover {
    background-color: #1717c2;
    border: 2px solid #1717c2;
  }
</style>

{% for flight,price in zipped_data %}
<section>
  {% if forloop.first %}
  <div class="query-data-div">
    <div class="container">
      <div class="trip-places">
        <div class="from-div text-align-left">
          <div class="small-label">From</div>
          <div class="white">{{flight.departure_city}}</div>
        </div>
        <div class="trip-type-div white">
          <div class="small-label">&nbsp;</div>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="white"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>

        </div>
        <div class="to-div text-align-right">
          <div class="small-label">To</div>
          <div class="white">{{flight.arrival_city}} </div>
        </div>
      </div>
      <div class="trip-time">
        <div class="depart-date-div">
          <div class="small-label">Depart</div>
          <div class="white">{{flight.departure_date|date:"D, d M Y"}}</div>
        </div>
        <div class="return-date-div">
          <div class="small-label">Return</div>
          <div class="white">
            {% if flight.return_date %}
            {{flight.return_date|date:"D, d M Y"}}
            {% else %}
            <span style="margin-left: 16px;">---</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="v-line"></div>
      <div class="trip-class">
        <div class="return-date-div">
          <div class="small-label">Class</div>
          <div class="white">{{flight.flight_class}}</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div id="flights_div">
    <div class="each-flight-div-box show">
      <div class="each-flight-div" onclick="media_click(this)">
        <div class="flight-company">
          <div class="flight-icon" style="color: #AFEeee;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
              focusable="false" width="1.5em" height="1.3em"
              style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
              preserveAspectRatio="xMidYMid meet" viewBox="0 0 440 384">
              <path
                d="M14 335h405v43H14v-43zm417.5-199.5q3.5 12.5-3 24T409 175l-114 30l-92 25l-114 30l-34 10l-16-29l-39-67l31-9l42 33l106-28L91 17l41-11l147 137l113-30q13-4 24.5 3t15 19.5z"
                fill="white" />
              <rect x="0" y="0" width="440" height="384" fill="rgba(0, 0, 0, 0)" />
            </svg>
          </div>
          <div class="company-details">
            <div class="company-name">{{flight.airline_name}}</div>
            <div class="plane-name">{{flight.airplane_name}}</div>
          </div>
        </div>
        <div class="flight-time flight-time-div">
          <div class="flight-origin-time">
            <div class="flight-time">
              <h5>{{flight.departure_time}}</h5>
            </div>
            <div class="flight-place">
              {{flight.departure_city}}
            </div>
          </div>
          <div class="flight-stops tooltip">
            <span class="duration">{{flight.flight_duration}}</span>
            <svg class="svgline" width="200" height="50"
              style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);">
              <line x1="10" y1="25" x2="140" y2="25" stroke="black" stroke-dasharray="5,5" />
              <polygon points="140,25 130,22 130,28" fill="black" />
              <path d="M160 25 L185 25 L175 20 Z" fill="black" />
            </svg>
            <img class="icon"
              style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);"
              src="/media/uploads/images/—Pngtree—vector airplane icon_3989910.png" alt="Airplane Icon">
            <span class="tooltiptext" data-value></span>
          </div>
          <div class="flight-destination-time">
            <div class="flight-time">
              <h5>{{flight.arrival_time}}</h5>
            </div>
            <div class="flight-place">
              {{flight.arrival_city}}
            </div>
          </div>
        </div>
        <div class="flight-details">
          <div class="flight-price">
            <h5 style="font-size: 22px;">
              {% if currencySelected == 'USD' %}
              <span>
                USD {{price}}
              </span>
              {% else %}
              <span>
                AED {{price}}
              </span>
              {% endif %}
              
            </h5>
          </div>
          <div class="flight-details">
            <div class="airline-image">
              <img class="flightimage" src="/media/{{flight.airline_image}}" alt="{{flight.airline_name}}"
                style="width: 130px; height: 55px; margin-left:25%;">
            </div>
          </div>
          <div class="flight-details-btn">
            <form
              action="{% url 'flightBooking:confirmSingleflight' flight.origin_code flight.destination_code flight.airline_name flight.flight_id flight.flight_duration passengers price price flight.departure_date flight.return_date flight.departure_time flight.arrival_time flight.departure_city flight.arrival_city flight.airline_name flight.flight_id flight.flight_class flight.airline_image.url %}"
              method="GET" style="display: flex;">
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-plane"></i>
                Select Flight
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}